<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andeqa.andeqa">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Andeqa"
        android:largeHeap="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".registration.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".creation.CreatePostActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.UpdateProfileActivity"
            android:label="Update your profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".comments.CommentsActivity"
            android:label="Comments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".likes.LikesActivity"
            android:label="Andeqans who liked"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".services.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".profile.PersonalProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".registration.ResetPasswordActivity" />

        <receiver
            android:name=".services.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".people.FollowerProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".people.FollowersActivity"
            android:label="Followers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".people.FollowingActivity"
            android:label="Following"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.NavigationDrawerActivity"
            android:label="Andeqa"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.FullImageViewActivity"
            android:label="Post" />
        <activity
            android:name=".profile.WalletActivity"
            android:label="Wallet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".market.ListOnMarketActivity"
            android:label="Set sale price"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration.CreateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.PostDetailActivity"
            android:label="Post"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.BestPostsActivity"
            android:label="Popular"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration.FollowCinggulans"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".message.MessagesAccountActivity"
            android:label="Chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration.SignInWithGoogle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".creation.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.SaveGoogleProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".creation.CreationActivity"
            android:label="@string/title_activity_create"
            android:theme="@style/AppTheme" />
        <activity
            android:label="Create collection"
            android:name=".creation.CreateCollectionActivity" />
        <activity
            android:label="Add to collection"
            android:name=".profile.CollectionPostsActivity"></activity>
    </application>

</manifest>