<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinggl.cinggl">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cinggl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".profile.SignInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.CreateCingleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:label="Cinggl"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".profile.UpdateProfileActivity"
            android:label="Update your profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.CommentsActivity"
            android:label="Comments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.LikesActivity"
            android:label="Cingulans who liked"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".relations.PeopleActivity"
            android:label="People"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".services.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".profile.PersonalProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".profile.ResetPasswordActivity" />

        <receiver
            android:name=".services.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".relations.FollowerProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".relations.FollowersActivity"
            android:label="Followers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".relations.FollowingActivity"
            android:label="Following"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".profile.SetupPorifleInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.NavigationDrawerActivity"
            android:label="Cinggl"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>