<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinggl.cinggl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cinggl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="Profile" />
        <activity android:name=".profile.FollowersActivity" />
        <activity android:name=".profile.FollowingActivity" />
        <activity
            android:name=".ui.TimelineActivity"
            android:label="Timeline" />
        <activity android:name=".profile.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.SignUpActivity" />
        <activity android:name=".camera.PostCingleActivity" />
        <activity android:name=".camera.CreateCingleActivity" />
        <activity
            android:name=".ui.HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>